<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="panel panel-success">
            <div class="panel-body">
              <p-panel header="Festival List" [toggleable]="true"> 
                <div class="ui-g">
                    <div class="ui-g-3" *ngFor="let item of (featureList | activeFeatures)">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title">{{item.name}}</h4>
                                    <p class="card-text">
                                      Enabled: {{item.enabled}}
                                      <br>
                                      Active: {{item.active}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
              </p-panel>
            </div>
          </div>
      </div>
  </div>
</div>
